<!DOCTYPE html>
<html>
  <!--<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>-->
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
  </body>
</html>
