<header>
    <div class="d-flex justify-content-end">
      <div>
        <h1 class="tituloPrincipal">Digital Movies</h1>
       <p class="subtitulo">Bienvenidos a Digital Movies</p>
       <p><a href="/movies">Listado de Películas</a></p>
      </div>
    </div>
  </header>